streamlit
boto3
psycopg2-binary
requests
numpy
scikit-learn
PyPDF2
python-dotenv
plotly
pandas
python-docx
uuid
python-docx==0.8.11
crewai
chainlit==0.7.700
pydantic>=2.4.2,<3.0.0
aiohttp>=3.8.0
asyncio>=3.4.3
matplotlib>=3.5.0
shap>=0.41.0
jinja2>=3.1.2